<!DOCTYPE html>
<html ng-app="contentModule">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AngularJS Application</title>

	<script src="/lib/angular/angular.min.js" type="text/javascript"></script>
	<script src="/lib/angular-route/angular-route.min.js" type="text/javascript"></script>
	<!-- Google Chart -->
	<script src="/lib/angular-google-chart/ng-google-chart.js" type="text/javascript"></script>

	<script src="/js/app.js" type="text/javascript"></script>
	<script src="/js/services/buscaservice.js" type="text/javascript"></script>
	<script src="/js/controllers/buscacontroller.js" type="text/javascript"></script>

	<link rel="stylesheet" href="/lib/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/default.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron" ng-controller="buscaController as busca">
			<!-- Campo de busca -->
			<div class="well">
				<h5>Digite a url para mapear e coletar os dados:</h5>
				<form class="form-busca" name="formBusca"  ng-submit="busca.submit()">
					<div class="alert alert-danger" ng-show="formBusca.url.$dirty && formBusca.url.$error.required" >
						<p>Esse campo é obrigátorio.</p>
					</div>
					<div class="alert alert-danger" ng-show="formBusca.$submitted && formBusca.url.$error.pattern">
						<p>A url é invalidar.</p>
					</div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="http://" name="url" ng-model="url" ng-required="true" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit" ng-disabled="!formBusca.$valid" ><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</form>
				
				<div class="text-center">
					<img src="/image/ajax-loader.gif" ng-src="/image/ajax-loader.gif" ng-show="loading">
				</div>
			</div>

			<hr class="divider">

			<!-- Google Chart -->
			<div google-chart chart="chartObject" id="google-pie"></div>

			<!-- Tabela com dados -->
			<table class="table table-striped" ng-repeat="tag in tags">
				<thead>
					<tr>
						<th>{{tag.heading | uppercase}}</th>
						<th>Total: {{tag.values.length}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="value in tag.values">
						<td colspan="2">{{value.titulo}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>